USE [master]
GO
/****** Object:  Database [CYCLING]    Script Date: 2019/10/20 2:30:48 PM ******/
CREATE DATABASE [CYCLING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CYCLING', FILENAME = N'/var/opt/mssql/data/CYCLING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CYCLING_log', FILENAME = N'/var/opt/mssql/data/CYCLING_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CYCLING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CYCLING]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Lap_ID] [int] NULL,
	[Timestamp] [bigint] NULL,
	[PositionLat] [bigint] NULL,
	[PositionLong] [bigint] NULL,
	[GpsAccuracy] [int] NULL,
	[Distance] [bigint] NULL,
	[Altitude] [bigint] NULL,
	[Grade] [int] NULL,
	[Cadence] [int] NULL,
	[Speed] [int] NULL,
	[Power] [int] NULL,
	[LeftRightBalance] [int] NULL,
	[LeftPedalSmoothness] [int] NULL,
	[RightPedalSmoothness] [int] NULL,
	[LeftTorqueEffectiveness] [int] NULL,
	[RightTorqueEffectiveness] [int] NULL,
	[Temperature] [int] NULL,
	[EnhancedAltitude] [bigint] NULL,
	[EnhancedSpeed] [int] NULL,
 CONSTRAINT [PK_Record] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Record]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Record]
AS
SELECT        ID, Lap_ID, DATEADD(ss, Timestamp, CAST('19891231' AS DateTime)) AS Timestamp_DT_UTC, PositionLat, PositionLong, GpsAccuracy, CAST(Distance AS decimal(32, 6)) / 100000 AS Distance_KM, CAST(Altitude AS decimal(18, 
                         2)) / 5 - 500 AS Altitude_M, CAST(Grade AS decimal(18, 6)) / 100 AS Grade_Pct, Cadence, CAST(Speed AS decimal(32, 6)) / 1000000 * 3600 AS Speed_KPH, Power, LeftRightBalance, CAST(LeftPedalSmoothness AS decimal(18, 2)) 
                         / 2 AS LeftPedalSmoothness_Pct, CAST(RightPedalSmoothness AS decimal(18, 2)) / 2 AS RightPedalSmoothness_Pct, CAST(LeftTorqueEffectiveness AS decimal(18, 2)) / 2 AS LeftTorqueEffectiveness_Pct, 
                         CAST(RightTorqueEffectiveness AS decimal(18, 2)) / 2 AS RightTorqueEffectiveness_Pct, Temperature, CAST(EnhancedAltitude AS decimal(18, 2)) / 5 - 500 AS EnhancedAltitude_M, CAST(EnhancedSpeed AS decimal(32, 6)) 
                         / 1000000 * 3600 AS EnhancedSpeed_KPH
FROM            dbo.Record
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [bigint] NULL,
	[NumSessions] [int] NULL,
	[ActivityType_ID] [int] NULL,
	[TotalTimerTime] [bigint] NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityType]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityType](
	[ID] [int] NOT NULL,
	[Name] [nchar](30) NULL,
 CONSTRAINT [PK_ActivityType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lap]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Session_ID] [int] NULL,
	[Timestamp] [bigint] NULL,
	[StartTime] [bigint] NULL,
	[TotalElapsedTime] [bigint] NULL,
	[TotalTimerTime] [bigint] NULL,
	[AvgSpeed] [int] NULL,
	[MaxSpeed] [int] NULL,
	[TotalDistance] [bigint] NULL,
	[AvgCadence] [int] NULL,
	[MaxCadence] [int] NULL,
	[AvgPower] [int] NULL,
	[MaxPower] [int] NULL,
	[LeftRightBalance] [int] NULL,
	[TimeInPowerZone0] [bigint] NULL,
	[TimeInPowerZone1] [bigint] NULL,
	[TimeInPowerZone2] [bigint] NULL,
	[TimeInPowerZone3] [bigint] NULL,
	[TimeInPowerZone4] [bigint] NULL,
	[TimeInPowerZone5] [bigint] NULL,
	[TimeInPowerZone6] [bigint] NULL,
	[TotalWork] [bigint] NULL,
	[MinAltitude] [bigint] NULL,
	[AvgAltitude] [bigint] NULL,
	[MaxAltitude] [bigint] NULL,
	[MaxNegGrade] [int] NULL,
	[AvgGrade] [int] NULL,
	[MaxPosGrade] [int] NULL,
	[NormalizedPower] [int] NULL,
	[AvgTemperature] [int] NULL,
	[MaxTemperature] [int] NULL,
	[TotalAscent] [bigint] NULL,
	[TotalDescent] [bigint] NULL,
	[EnhancedAvgSpeed] [int] NULL,
	[EnhancedMaxSpeed] [int] NULL,
	[EnhancedMinAltitude] [bigint] NULL,
	[EnhancedAvgAltitude] [bigint] NULL,
	[EnhancedMaxAltitude] [bigint] NULL,
 CONSTRAINT [PK_Lap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Activity_ID] [int] NULL,
	[Timestamp] [bigint] NULL,
	[StartTime] [bigint] NULL,
	[TotalElapsedTime] [bigint] NULL,
	[TotalTimerTime] [bigint] NULL,
	[AvgSpeed] [int] NULL,
	[MaxSpeed] [int] NULL,
	[TotalDistance] [bigint] NULL,
	[AvgCadence] [int] NULL,
	[MaxCadence] [int] NULL,
	[AvgPower] [int] NULL,
	[MaxPower] [int] NULL,
	[LeftRightBalance] [int] NULL,
	[TimeInPowerZone0] [bigint] NULL,
	[TimeInPowerZone1] [bigint] NULL,
	[TimeInPowerZone2] [bigint] NULL,
	[TimeInPowerZone3] [bigint] NULL,
	[TimeInPowerZone4] [bigint] NULL,
	[TimeInPowerZone5] [bigint] NULL,
	[TimeInPowerZone6] [bigint] NULL,
	[TotalWork] [bigint] NULL,
	[MinAltitude] [bigint] NULL,
	[AvgAltitude] [bigint] NULL,
	[MaxAltitude] [bigint] NULL,
	[MaxNegGrade] [int] NULL,
	[AvgGrade] [int] NULL,
	[MaxPosGrade] [int] NULL,
	[NormalizedPower] [int] NULL,
	[AvgTemperature] [int] NULL,
	[MaxTemperature] [int] NULL,
	[TotalAscent] [bigint] NULL,
	[TotalDescent] [bigint] NULL,
	[Sport_ID] [int] NULL,
	[NumLaps] [int] NULL,
	[ThresholdPower] [int] NULL,
	[TrainingStressScore] [int] NULL,
	[IntensityFactor] [int] NULL,
	[EnhancedAvgSpeed] [int] NULL,
	[EnhancedMaxSpeed] [int] NULL,
	[EnhancedMinAltitude] [bigint] NULL,
	[EnhancedAvgAltitude] [bigint] NULL,
	[EnhancedMaxAltitude] [bigint] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sport]    Script Date: 2019/10/20 2:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sport](
	[ID] [int] NOT NULL,
	[Name] [nchar](30) NULL,
 CONSTRAINT [PK_Table_3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_ActivityType] FOREIGN KEY([ActivityType_ID])
REFERENCES [dbo].[ActivityType] ([ID])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_ActivityType]
GO
ALTER TABLE [dbo].[Lap]  WITH CHECK ADD  CONSTRAINT [FK_Lap_Session] FOREIGN KEY([Session_ID])
REFERENCES [dbo].[Session] ([ID])
GO
ALTER TABLE [dbo].[Lap] CHECK CONSTRAINT [FK_Lap_Session]
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK_Record_Lap] FOREIGN KEY([Lap_ID])
REFERENCES [dbo].[Lap] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK_Record_Lap]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Activity] FOREIGN KEY([Activity_ID])
REFERENCES [dbo].[Activity] ([ID])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Activity]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Sport] FOREIGN KEY([Sport_ID])
REFERENCES [dbo].[Sport] ([ID])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Sport]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Records are snapshots of metrics taken throughout a ride.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Record'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Record"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 260
            End
            DisplayFlags = 280
            TopColumn = 16
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 21
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5190
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Record'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Record'
GO
USE [master]
GO
